<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<style>
body{
	background-image: url('https://bootlegger.tv/static/images/slide1.jpg');
	background-size:cover;
	padding:0;
	margin:0;
	overflow:hidden;
	font-family:Open Sans;
	font-size:16pt;
}

.overlay
{
	position:fixed;
	background:rgba(0,0,0,0.5);
	padding:20px;
	color:white;
	bottom:70px;
	border-radius:20px;
	margin:auto auto;
	left:250px;
	right:250px;
}

.brow
{
	position:relative;
	background-image: url('https://bootlegger.tv/static/images/brow.png');
	width:1015px;
	height:669px;
	margin:auto auto;
	margin-top:50px;
}

iframe
{
	position:absolute;
	border:none;
	/*width:957px;*/
	width:993px;
	height:579px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow: hidden;
	left:11px;
	top:79px;
}

</style>

</head>
<body>
<div class="brow">
<iframe src="https://bootlegger.tv/shoot/shootdemo">

</iframe>
</div>

<div class="overlay">
The automatic director allocates shots to mobile crew members in real-time...
</div>
</body>
</html>