<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<style>
body{
	background-image: url('https://bootlegger.tv/static/images/slide1.jpg');
	background-color:#333;
	background-size:cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	padding:0;
	margin:0;
	overflow:hidden;
	font-family:Open Sans;
	font-size:16pt;
}

h2,h1,h3,h5
{
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  text-align: center;
  color:white;
  font-size:30pt;
  font-family: Open Sans, sans-serif;
  font-weight: normal;
  margin:0;
}

.overlay
{
	position:fixed;
	background:rgba(0,0,0,0.5);
	padding:20px;
	color:white;
	bottom:70px;
	border-radius:20px;
	margin:auto auto;
	left:250px;
	right:250px;
}

.hand
{
	position:absolute;
	top:13000px;
	right:0px;
	background-size: contain;
	width:750px;
	height:500px;
	margin-right:-130px;
	margin-bottom:70px;
	background-repeat: no-repeat;
	background-image: url(https://bootlegger.tv/static/images/hand2.png);
}

video
{
	width: 432px;
	height: 331px;
	top: 50px;
	position: absolute;
	top: 70px;
	left: 58px;
}

.notes
{
	width:40%;
	margin-top:50px;
	margin-left:50px;
	margin-right:50px;
}
</style>

</head>
<body>
 <div style="position:fixed;top:10px;left:500px;margin:auto auto;width:400px;height:150px;;padding-top:20px;background-image:url(https://bootlegger.tv/static/images/logohome.png);background-size:contain;background-repeat:no-repeat;">
    </div>

	<h1 style="margin:auto auto;font-size:25pt;margin-top:-20px;position:fixed;left:505px;top:175px;">
	Turns fans into film crew.
	</h1>
<div class="notes">

<h2 data="opacity:0;" data-1000="opacity:0;" data-1500="opacity:1;" data-5000="opacity:1;" data-5500="opacity:0;"  style="display:block;line-height:1.1;font-size:23pt;position:fixed;left:446px;top:320px;width:40%;">Bootlegger connects fans together in realtime to act as a coordinated camera crew. <br><br>It produces high quality, content rich footage with no expense</h2>

 <div style="position:fixed;bottom:5px;left:5px;">
          <small style="font-size:9pt;color:white;">Bootlegger is powered by</small><br>
          <img src="http://bootlegger.tv/static/images/powered.png" />
        </div>

<section id="slide-5" style="height:5600px;" data-5600="opacity:0;" data-5800="opacity:1;" data-100-end="opacity:1;" data-end="opacity:0;">
<div style="position:fixed;">

       

        <div id="cloud" style="left:200px;top:280px;width:470px;text-align:center;position:fixed;" data="position:fixed;">
          <img src="http://bootlegger.tv//static/images/cloud.png" />
          <h5 style="position:absolute;top:200px;"  data-7900="opacity:0;" data-8000="opacity:1;" data-8400="opacity:1;" data-8500="opacity:0;">Devices log into the server, indicating their approximate location in the venue</h5>
          <h5 style="position:absolute;top:200px;"  data-8500="opacity:0;" data-8600="opacity:1;" data-9000="opacity:1;" data-9100="opacity:0;">The server allocates timing and shot information to each device</h5>
          <h5 style="position:absolute;top:200px;"  data-9100="opacity:0;" data-9200="opacity:1;" data-9600="opacity:1;" data-9700="opacity:0;">At specific points in the timing sequence, shots are requested dependent on what has been captured already</h5>
          <h5 style="position:absolute;top:200px;"  data-9700="opacity:0;" data-9800="opacity:1;" data-10200="opacity:1;" data-10300="opacity:0;">Server initiates recording on the device</h5>
          <h5 style="position:absolute;top:200px;"  data-10400="opacity:0;" data-10500="opacity:1;" data-10900="opacity:1;" data-11000="opacity:0;">Shot thumbnail and meta-data are uploaded to the server</h5>
          <h5 style="position:absolute;top:200px;"  data-11000="opacity:0;" data-11100="opacity:1;" data-11500="opacity:1;" data-11600="opacity:0;">After the event, all HD video is batch uploaded from all devices</h5>

          <h5 style="position:absolute;top:200px;" data-11600="opacity:0;" data-11700="opacity:1;" data-12100="opacity:1;" data-12200="opacity:0;">Meta-data and footage is synced to the event organisers Dropbox</h5>
        </div>

        <img src="https://bootlegger.tv/static/images/phone.png" style="left:1100px;top:80px;" data-anchor-target="#cloud" data="position:fixed;"  data-300-top="position:fixed;"  data-11500="opacity:1;" data-11600="opacity:0;"/>
        <img src="https://bootlegger.tv/static/images/phone.png" style="left:800px;top:280px;" data-anchor-target="#cloud" data="position:fixed;"  data-300-top="position:fixed;" data-11500="opacity:1;" data-11600="opacity:0;"/>
        <img src="https://bootlegger.tv/static/images/phone.png" style="left:950px;top:530px;" data-anchor-target="#cloud" data="position:fixed;"  data-300-top="position:fixed;" data-11500="opacity:1;" data-11600="opacity:0;"/>

   <div style="position:fixed;z-index:0;" data-anchor-target="#cloud" data="position:fixed;top:120px;left:630px;" >
         <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" style="position:absolute;top:0;left:0;"  data-8500="opacity:0;" data-8600="opacity:1;" data-9000="opacity:1;" data-9100="opacity:0;">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
       <defs>
        <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="rightarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_end_svg_1">
         <path stroke-width="10" fill="#0088aa" d="m100,50l-100,40l30,-40l-30,-40z"/>
        </marker>
       </defs>
       <g>
        <title>Layer 1</title>
        <line marker-end="url(#se_marker_end_svg_1)" id="svg_1" y2="41" x2="416.99998" y1="241.99999" x1="5" stroke-width="5" stroke="#0088aa" fill="none"/>
       </g>
      </svg>

      <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg" style="position:absolute;top:0;left:0;" xmlns:svg="http://www.w3.org/2000/svg"  data-8500="opacity:0;" data-8600="opacity:1;" data-9000="opacity:1;" data-9100="opacity:0;">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
       <defs>
        <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="rightarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_end_svg_1">
         <path stroke-width="10" fill="#0088aa" d="m100,50l-100,40l30,-40l-30,-40z"/>
        </marker>
       </defs>
       <g>
        <title>Layer 1</title>
        <line marker-end="url(#se_marker_end_svg_1)" id="svg_1" y2="265.5" x2="146.5" y1="264.5" x1="3.5" stroke-width="5" stroke="#0088aa" fill="none"/>
       </g>
      </svg>

      <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg" style="position:absolute;top:0;left:0;" xmlns:svg="http://www.w3.org/2000/svg"  data-8500="opacity:0;" data-8600="opacity:1;" data-9000="opacity:1;" data-9100="opacity:0;">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
       <defs>
        <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="rightarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_end_svg_1">
         <path stroke-width="10" fill="#0088aa" d="m100,50l-100,40l30,-40l-30,-40z"/>
        </marker>
       </defs>
       <g>
        <title>Layer 1</title>
        <line marker-end="url(#se_marker_end_svg_1)" id="svg_1"   y2="484.49998" x2="285.5" y1="289.49997" x1="4.50001" stroke-width="5" stroke="#0088aa" fill="none"/>
       </g>
      </svg>

      <h1 style="position:absolute;left:507px;top:56px;" data-8500="opacity:0;" data-8600="opacity:1;" data-9000="opacity:1;" data-9100="opacity:0;"> 
        2s
      </h1>
      <h1 style="position:absolute;left:207px;top:256px;" data-8500="opacity:0;" data-8600="opacity:1;" data-9000="opacity:1;" data-9100="opacity:0;"> 
        5s
      </h1>
      <h1 style="position:absolute;left:359px;top:505px;" data-8500="opacity:0;" data-8600="opacity:1;" data-9000="opacity:1;" data-9100="opacity:0;"> 
        0s
      </h1>



      <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" style="position:absolute;top:0;left:0;"   data-9100="opacity:0;" data-9200="opacity:1;" data-9600="opacity:1;" data-9700="opacity:0;">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
       <defs>
        <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="rightarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_end_svg_1">
         <path stroke-width="10" fill="#0088aa" d="m100,50l-100,40l30,-40l-30,-40z"/>
        </marker>
       </defs>
       <g>
        <title>Layer 1</title>
        <line marker-end="url(#se_marker_end_svg_1)" id="svg_1" y2="41" x2="416.99998" y1="241.99999" x1="5" stroke-width="5" stroke="#0088aa" fill="none"/>
       </g>
      </svg>

      <h1 style="position:absolute;left:495px;top:56px;font-size:14pt;"  data-9100="opacity:0;" data-9200="opacity:1;" data-9600="opacity:1;" data-9700="opacity:0;"> 
        closeup
      </h1>


      <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg" style="position:absolute;top:0;left:0;" xmlns:svg="http://www.w3.org/2000/svg"  data-9700="opacity:0;" data-9800="opacity:1;" data-10200="opacity:1;" data-10300="opacity:0;">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
       <defs>
        <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="rightarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_end_svg_1">
         <path stroke-width="10" fill="#0088aa" d="m100,50l-100,40l30,-40l-30,-40z"/>
        </marker>
       </defs>
       <g>
        <title>Layer 1</title>
        <line marker-end="url(#se_marker_end_svg_1)" id="svg_1"   y2="484.49998" x2="285.5" y1="289.49997" x1="4.50001" stroke-width="5" stroke="#0088aa" fill="none"/>
       </g>
      </svg>

      <h1 style="position:absolute;left:347px;top:501px;" data-9700="opacity:0;" data-9800="opacity:1;" data-10200="opacity:1;" data-10300="opacity:0;"> 
        <img src="https://bootlegger.tv/static/images/rec.png"/>
      </h1>


      <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg" style="position:absolute;top:0;left:0;" xmlns:svg="http://www.w3.org/2000/svg"   data-10400="opacity:0;" data-10500="opacity:1;" data-10900="opacity:1;" data-11000="opacity:0;">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
       <defs>
        <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="rightarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_end_svg_1">
         <path stroke-width="10" fill="#0088aa" d="m100,50l-100,40l30,-40l-30,-40z"/>
        </marker>
        <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="leftarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_start_svg_4">
         <path fill="#0088aa" d="m0,50l100,40l-30,-40l30,-40z"/>
        </marker>
       </defs>
       <g>
        <title>Layer 1</title>
        <line marker-start="url(#se_marker_start_svg_4)" id="svg_1"   y2="484.49998" x2="285.5" y1="294.49996" x1="12.5" stroke-width="5" stroke="#0088aa" fill="none"/>
       </g>
      </svg>

      <h1 style="position:absolute;left:347px;top:501px;"  data-10400="opacity:0;" data-10500="opacity:1;" data-10900="opacity:1;" data-11000="opacity:0;"> 
        <img src="https://bootlegger.tv//static/images/pic.png"/>
      </h1>



       <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" style="position:absolute;top:0;left:0;"  data-11000="opacity:0;" data-11100="opacity:1;" data-11500="opacity:1;" data-11600="opacity:0;">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
       <defs>
        <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="rightarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_end_svg_1">
         <path stroke-width="10" fill="#0088aa" d="m100,50l-100,40l30,-40l-30,-40z"/>
        </marker>
         <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="leftarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_start_svg_4">
         <path fill="#0088aa" d="m0,50l100,40l-30,-40l30,-40z"/>
        </marker>
       </defs>
       <g>
        <title>Layer 1</title>
        <line marker-start="url(#se_marker_start_svg_4)" id="svg_1" y2="41" x2="416.99999" y1="239" x1="15.99999" stroke-width="5" stroke="#0088aa" fill="none"/>
       </g>
      </svg>

      <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg" style="position:absolute;top:0;left:0;" xmlns:svg="http://www.w3.org/2000/svg" data-11000="opacity:0;" data-11100="opacity:1;" data-11500="opacity:1;" data-11600="opacity:0;">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
       <defs>
        <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="rightarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_end_svg_1">
         <path stroke-width="10" fill="#0088aa" d="m100,50l-100,40l30,-40l-30,-40z"/>
        </marker>
         <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="leftarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_start_svg_4">
         <path fill="#0088aa" d="m0,50l100,40l-30,-40l30,-40z"/>
        </marker>
       </defs>
       <g>
        <title>Layer 1</title>
        <line marker-start="url(#se_marker_start_svg_4)" id="svg_1"  y2="265.5" x2="146.5" y1="264.5" x1="15.5" stroke-width="5" stroke="#0088aa" fill="none"/>
       </g>
      </svg>

      <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg" style="position:absolute;top:0;left:0;" xmlns:svg="http://www.w3.org/2000/svg"  data-11000="opacity:0;" data-11100="opacity:1;" data-11500="opacity:1;" data-11600="opacity:0;">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
       <defs>
        <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="rightarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_end_svg_1">
         <path stroke-width="10" fill="#0088aa" d="m100,50l-100,40l30,-40l-30,-40z"/>
        </marker>
         <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="leftarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_start_svg_4">
         <path fill="#0088aa" d="m0,50l100,40l-30,-40l30,-40z"/>
        </marker>
       </defs>
       <g>
        <title>Layer 1</title>
        <line marker-start="url(#se_marker_start_svg_4)" id="svg_1"   y2="484.49998" x2="285.5" y1="294.49996" x1="12.5" stroke-width="5" stroke="#0088aa" fill="none"/>
       </g>
      </svg>


      <h1 style="position:absolute;left:494px;top:56px;" data-11000="opacity:0;" data-11100="opacity:1;" data-11500="opacity:1;" data-11600="opacity:0;"> 
        <img src="https://bootlegger.tv//static/images/vids.png"/>
      </h1>
      <h1 style="position:absolute;left:193px;top:256px;" data-11000="opacity:0;" data-11100="opacity:1;" data-11500="opacity:1;" data-11600="opacity:0;"> 
        <img src="https://bootlegger.tv//static/images/vids.png"/>
      </h1>
      <h1 style="position:absolute;left:344px;top:505px;" data-11000="opacity:0;" data-11100="opacity:1;" data-11500="opacity:1;" data-11600="opacity:0;"> 
        <img src="https://bootlegger.tv//static/images/vids.png"/>
      </h1>


      <img style="position:absolute;left:180px;top:200px;" src="https://bootlegger.tv/static/images/db.png"  data-11600="opacity:0;" data-11700="opacity:1;" data-12100="opacity:1;" data-12200="opacity:0;"/>

      <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg" style="position:absolute;top:0;left:0;" xmlns:svg="http://www.w3.org/2000/svg"  data-11600="opacity:0;" data-11700="opacity:1;" data-12100="opacity:1;" data-12200="opacity:0;">
       <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
       <defs>
        <marker refY="50" refX="50" markerHeight="5" markerWidth="5" viewBox="0 0 100 100" se_type="rightarrow" orient="auto" markerUnits="strokeWidth" id="se_marker_end_svg_1">
         <path stroke-width="10" fill="#0088aa" d="m100,50l-100,40l30,-40l-30,-40z"/>
        </marker>
       </defs>
       <g>
        <title>Layer 1</title>
        <line marker-end="url(#se_marker_end_svg_1)" id="svg_1" y2="265.5" x2="146.5" y1="264.5" x1="3.5" stroke-width="5" stroke="#0088aa" fill="none"/>
       </g>
      </svg>
  </div>
</div>
</section>



</div>


	<div class="hand">
		 <video style="background:black" id="video1" autoplay>
		 	<source src="http://static.bootlegger.tv/assets/3.mp4" type="video/mp4"></source>
		 </video>
	</div>

<script>
var myVideo=document.getElementById("video1");
myVideo.onended = function(e) {
      nextButton();
    };

var videoList=['http://static.bootlegger.tv/assets/1.mp4','http://static.bootlegger.tv/assets/2.mp4','http://static.bootlegger.tv/assets/3.mp4'];
var index = videoList.indexOf(window.currentVideoName);
//Next button
function nextButton(){
myVideo.pause();
myVideo.currentTime=0;
index = index + 1;
if(index==videoList.length)
index = 0;
//alert(videoList[index]);
myVideo.src = videoList[index];
window.currentVideoName=videoList[index];
myVideo.play();
}
function playPause()
{
if (myVideo.paused)
myVideo.play();
else
myVideo.pause();
}
</script>

<script src="https://bootlegger.tv/static/js/jquery-2.0.3.min.js"></script>
<script src="https://bootlegger.tv/static/js/skrollr.min.js"></script>
<script src="https://bootlegger.tv/static/js/skrollr.menu.min.js"></script>
<script src="https://bootlegger.tv/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
function adjustWindow(){
    
    // Init Skrollr
    // var s = skrollr.init({
    //     forceHeight: false
    // });

    var s = skrollr.init({
         // forceHeight: false
          render: function(data) {
              //Debugging - Log the current scroll position.
              console.log(data.curTop);
          },
          keyframe: function(element, name, direction) {
            //name will be one of data500, dataTopBottom, data_offsetCenter
        }
      });

      skrollr.menu.init(s,{
        duration: function(currentTop, targetTop) {
            //By default, the duration is hardcoded at 500ms.
            return 1000;
        }
      });
    
    // Get window size
      winH = $window.height();
      //console.log("h:"+winH);
      // Keep minimum height 550
      if(winH <= 550) {
      winH = 550;
    } 
      
      // Resize our slides
      $slide.height(winH);

      $('.homeSlide').height(winH+300);
      
      // Refresh Skrollr after resizing our sections
      s.refresh($('.slide'));
      s.refresh($('.homeSlide'));
  }  

$window = $(window);
$slide = $('.slide');
$body = $('body');

$(function(){
  adjustWindow();
  //$('body').scrollspy({ target: '.navbar-example' });

  $( window ).resize(function() {
    adjustWindow();
  });

  

	scroll();
	setInterval(function(){scroll();},80000);
  });

function scroll()
{
	window.scrollTo(0,0);
	$('html, body').stop().animate({'scrollTop':15000},60000,'linear');
}



</script>
</body>
</html>