<h1>Sync this Server</h1>
<div class="row">
	<div class="col-md-6">
		<div class="alert alert-info">
 <form action="/auth/clone_from_remote" method="POST" id="goform">
 	<div class="row">
 		<div class="col-sm-2" style="text-align:center;">
 			<i style="font-size:50pt;" class="glyphicon glyphicon-cloud-download"></i>
 		</div>
  		<div class="input-group col-sm-10">
      		<input type="number" name="code" class="input-lg form-control" />
    		<span class="input-group-btn">
      		<input type="submit" class="btn input-lg btn-default" value="Sync Now"/>
    		</span>
  		</div>
	</div>
  <br>
</form>
<h2 style="text-align:center">Enter your Event Offline Sync code to deploy this server at your event</h2>
</div>
</div>

<div class="col-md-6">
	<div class=" alert alert-info">
		<div class="row">
 		<div class="col-sm-2" style="text-align:center;">
 			<i style="font-size:50pt;" class="glyphicon glyphicon-cloud-upload"></i>
 		</div>
  		<div class="col-sm-10">
      		<button onclick="upload();" class="btn btn-lg col-sm-12">Upload Captured Footage to Server</button>
  		</div>
	</div>
	<br>
	<h2 style="text-align:center">Update the remote server with the videos captured at your event</h2>
	</div>
</div>

</div>
  <div style="text-align:center">
    <img id="loader" style="display:none" src="/linker/images/loading.gif"/>
  </div>
  <div class="alert alert-warning" id="message" style="display:none;"></div>

<a href="/" class="btn btn-default">Return to Login</a>

<script>
function upload()
{
	$('#loader').show();
	var get = $.get('/auth/syncup');
	get.done(function(data)
	{
		$( "#message" ).empty().append(data.msg);
		$( "#message" ).show();
		$('#loader').hide();
	});
}

// Attach a submit handler to the form
$("#goform").submit(function( event ) {
	$('#loader').show();
	// Stop form from submitting normally
	event.preventDefault();
	// Get some values from elements on the page:
	var $form = $( this ),
	code = $form.find( "input[name='code']" ).val(),
	url = $form.attr( "action" );
	// Send the data using post
	var posting = $.post( url, { code: code } );
	// Put the results in a div
	posting.done(function( data ) {
		$( "#message" ).empty().append(data.msg);
		$( "#message" ).show();
		$('#loader').hide();
	});
});
</script>