<div class="page-header">
  <h1>Content Commissioning
<small>Adjust what shots are required for this shoot</small>
  </h1>

  <div class="well">
  	<h2>This section is under development, please use existing shoot templates until we have finished baking this feature.</h2>
  </div>
</div>