<div class="panel panel-success">
  <div class="panel-heading">Latest Event Log</div>
	<ul id="eventlog">

	</ul>
</div>
<script id="eventlog-template" type="text/x-handlebars-template">
{{#each log}}
<li><em>Latest:</em> <span class="badge">{{this.timestamp}}</span> {{this.msg}} </li>
{{else}}
<li>Not much going on around here...</li> 
{{/each}}
</script>
<script>
var eventlogtemplate;
$(function()
{
  //build handlebars templates
  var source   = $("#eventlog-template").html();
  eventlogtemplate = Handlebars.compile(source);
  $('#eventlog').html(eventlogtemplate({log:eventlog}));
});
var eventlog = new Array();

$(function(){
	socket.on('connect',function()
	{
		socket.on('message', function(response){
      		//add this to the log...
          if (response.data.msg != undefined && response.model == 'event')
          {
      		  eventlog.unshift(response.data);
      		  $('#eventlog').html(eventlogtemplate({log:eventlog}));
          }
    	});
	});
});
</script>