module.exports = {
    port: 1337,
    beta:true,
    hostname:'localhost',
    db_host     : 'localhost',
    db_port     :  27017,
    db_user     : 'bootlegger',
    db_password : '',
    admin_email:['tom@bartindale.com'],
    gcmkey:'',
    nexmo:{
      id:'',
      key:''
    },
    SHOOT_LIMIT:4,
    db_database : 'bootlegger',
    dropbox_clientid:'',
    dropbox_clientsecret:'',
    google_clientid:'-.apps.googleusercontent.com',
    google_clientsecret:'',
    CURRENT_SYNCTRAY_KEY:'',
    CURRENT_MOBILE_KEY_IOS:'',
    CURRENT_MOBILE_KEY_PLAY:'',
    CURRENT_EDIT_KEY:'',
    IOS_STORE_LINK:'',
    PLAY_STORE_LINK:'https://play.google.com/store/apps/details?id=uk.ac.ncl.di.bootlegger&hl=en',
    FACEBOOK_APP_ID:'',
    FACEBOOK_APP_SECRET:'',
    multiserver:'http://localhost:9000',
    central_url:'http://localhost:1337',
    master_url:'http://localhost:1337',
    AWS_ACCESS_KEY_ID:'',
    AWS_SECRET_ACCESS_KEY:'',
    S3_BUCKET:'bootleggerlive',
    S3_BUCKET_TRANSCODE:'bootleggertranscode',
    S3_REGION:'eu-west-1',
    CLOUDFRONT_KEY:'',
    CLOUDFRONT_KEYFILE:'ssl/pk-.pem',
    S3_CLOUD_URL : 'https://.cloudfront.net/upload/',
    S3_TRANSCODE_URL:'https://.cloudfront.net/upload/',
    ELASTIC_PIPELINE:'-91xlqc',
    HOMOG_PRESET:'-m33jon',
    PREVIEW_PRESET:'-9ekkpk',
    BEANSTALK_HOST:'db.bootlegger.tv',
    BEANSTALK_PORT:'11300',
    email:{
        SENDGRID_ID:'',
        SENDGRID_TEMPLATE:''
    },
    connections:{
        mongodb: {
          module: 'sails-mongo',
          schema: false,
          host     : 'localhost',
          port     : 27017,
          user     : 'bootlegger',
          password : '',
          database : 'bootlegger'
        }
    },
    session:{
      secret: '',
      adapter: 'redis',
      host: 'localhost',
      port: 6379,
      db: 0,
      ttl:90*24*60*60*1000,
      disableTTL:true,
      cookie: {
         maxAge: 90*24*60*60*1000
      }
    },
    sockets: {
      transports: ['websocket'],
      adapter: 'socket.io-redis',
      host: 'localhost',
      port: 6379,
    //   beforeConnect: true,
      origins: '*:*',
      heartbeats: true,
      'close timeout': 20,
      'heartbeat timeout': 16,
      'heartbeat interval': 8,
      'polling duration': 20,
      'flash policy port': 10843,
      'destroy buffer size': '10E7',
      'destroy upgrade': true,
      'browser client': true,
      'browser client cache': true,
      'browser client minification': false,
      'browser client etag': false,
      'browser client expires': 315360000,
      'browser client gzip': false,
      'browser client handler': false,
      'match origin protocol': false
    },
    bootstrapTimeout:5000
}
