module.exports = {
    port: 80,
    beta:true,
    hostname:'localhost',
    db_host     : 'localhost',
    db_port     :  27017,
    db_user     : 'bootlegger',
    db_password : 'BlahBlah123',
    admin_email:'',
    gcmkey:'',
    nexmo:{
      id:'',
      key:''
    },
    CURRENT_SYNCTRAY_KEY:'',
    CURRENT_MOBILE_KEY_IOS:'',
    CURRENT_MOBILE_KEY_PLAY:'',
    CURRENT_EDIT_KEY:'',
    db_database : 'bootlegger',
    dropbox_clientid:'',
    dropbox_clientsecret:'',
    google_clientid:'',
    google_clientsecret:'',
    FACEBOOK_APP_ID:'',
    FACEBOOK_APP_SECRET:'',
    multiserver:'http://dev.bootlegger.tv:9000',
    central_url:'http://localhost',
    master_url:'http://localhost',
    AWS_ACCESS_KEY_ID:'',
    AWS_SECRET_ACCESS_KEY:'',
    S3_BUCKET:'bootleggerlive',
    S3_REGION:'eu-west-1',
    S3_URL:'https://bootleggerlive.s3.amazonaws.com',
    S3_CLOUD_URL:'https://.cloudfront.net/upload/',
    S3_TRANSCODE_URL:'https://.cloudfront.net/upload/',
    ELASTIC_PIPELINE:'1438958021173-91xlqc',
    HOMOG_PRESET:'1437577812457-m33jon',
    BEANSTALK_HOST:'db.bootlegger.tv',
    BEANSTALK_PORT:'11300',
    connections:{
        mongodb: {
          module: 'sails-mongo',
          schema: false,
          host     : 'localhost',
          port     : 27017,
          user     : 'bootlegger',
          password : 'BlahBlah123',
          database : 'bootlegger'
        }
    },
    session:{
      secret: '',
      adapter: 'redis',
      host: 'localhost',
      port: 6379,
      db: 0,
      ttl:90*24*60*60*1000,
      disableTTL:true,
      cookie: {
         maxAge: 90*24*60*60*1000
      }
    },
    sockets: {
      transports: [
      'websocket'
      // 'htmlfile',
      // 'xhr-polling',
      // 'jsonp-polling'
     ],
      adapter: 'redis',
      host: 'localhost',
      port: 6379,
      authorization: true,
      origins: '*:*',
      heartbeats: true,
      'close timeout': 20,
      'heartbeat timeout': 16,
      'heartbeat interval': 8,
      'polling duration': 20,
      'flash policy port': 10843,
      'destroy buffer size': '10E7',
      'destroy upgrade': true,
      'browser client': true,
      'browser client cache': true,
      'browser client minification': false,
      'browser client etag': false,
      'browser client expires': 315360000,
      'browser client gzip': false,
      'browser client handler': false,
      'match origin protocol': false,
      resource: '/socket.io'
    },
    bootstrapTimeout:5000
}
