<div class="well">
	<h1>
		<span class="text-muted">
			We are still working on new features in Bootlegger, but eventually this page will allow you to share you finished videos with the world!
		</span>
	</h1>
</div>